node_modules/
.env
.DS_Store
*.log
dist/
build/
.vscode/
Library/
Temp/
Obj/
Build/
Builds/
Logs/
MemoryCaptures/
.vscode/
*.csproj
*.unityproj
*.sln
*.user
.ipynb_checkpoints/
*.pyc
__pycache__/
.env
*.class
*.jar
*.exe
*.log
*.tmp
*.svg
*.zip

